@model HumanitarianAid.Models.Record

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.R_ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donationtable.Producttype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donationtable.Producttype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonorDetail.D_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonorDetail.D_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedyDetail.N_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedyDetail.N_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
