@model HumanitarianAid.Models.NeedyDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NeedyDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.N_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_annualincome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_annualincome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_phoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_phoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_occupation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.N_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
